.navtabs{
    background-color: rgb(37, 49, 55);
    color: white
}

.navtabs .nav-item .nav-link.active{
    background-color: rgb(75, 143, 120);
    color: aliceblue;
}

.navtabs .nav-item .nav-link{
    color:rgb(157, 191, 220)
}

